:root {
  font-size: calc(14px * 0.2vw);
  font-family: Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: inherit;
  margin: 0;
}

a {
  text-decoration: none;
}