@import url('https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro&display=swap');

:root {
  font-size: calc(14px + 0.2vw);
  font-family: 'Source Sans Pro', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

header {
  font-family: Oswald, sans-serif;
}
